/* Admin.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.admin-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.add-user-form {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-user-form h2 {
    margin-bottom: 8px;
    color: #555;
}

.add-user-form button {
    font-size: 12px; /* Adjust font size to make the button smaller */
    padding: 8px 12px; /* Adjust padding to control button size */
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input, .form-group select {
    width: calc(100% - 22px); /* Adjust width to accommodate padding and borders */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-register, .add-button {
    color: white;
    background-color: #007bff; /* Blue button color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.btn-register:hover, .add-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.delete-button {
    color: white;
    background-color: #dc3545; /* Red button color */
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333; /* Darker red on hover */
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #f2f2f2;
    color: #333;
}

.user-table td {
    background-color: #fff;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}
