.navbar {
    background-color: #FFFFFF; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
    padding-bottom: 30px;
}


.navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-link-active {
    color: #b1cdcd;
  }

/* Style for logout button */
.navbar-item button {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 18px;
    padding: 0;
}

.navbar-item button:hover {
    text-decoration: underline;
}

.navbar-button {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 18px;
    padding: 0;
    text-decoration: none;
  }