
.ticket-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ticket-form input,
.ticket-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #444;
    box-sizing: border-box;
}   

.ticket-form textarea {
    resize: none;
    height: 100px;
}

button.submit-ticket {
    width: 100%;
    padding: 12px;
    font-size: 1em;
}

button.submit-ticket:hover {
    background-color: #011F30;
}
  